body{
    margin: auto;
    background: #CFD8DC;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 17% 66% 17%;
    grid-template-columns: 35% 30% 35%;
    overflow: hidden;
}


.notepad{
    background: #FFF;
    padding: 1em;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 86% 14%;
    grid-template-columns: 100%;
    height: 90%;
}

.card{
    border-radius: 0.8em;
    -webkit-box-shadow: 14px 14px 65px 13px rgba(0,0,0,0.35);
    -moz-box-shadow: 14px 14px 65px 13px rgba(0,0,0,0.35);
    box-shadow: 14px 14px 65px 13px rgba(0,0,0,0.35);
}

.list-area{
}

.control-form{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

input[type=text]{
    flex: 1;
    border: 1px solid #AAA;
    border-radius: 1em;
    height: 80%;
    text-align: center;
}

input[type=checkbox]{
    margin-top: 15px;
}

input:focus {
  outline: none;
}

button{
    margin-left: 4px;
    color:#FFF;
    background: #512DA8;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.small-btn{
    width: 24px;
    height: 24px;
    background: #FFF !important;
    color: #512DA8;
    border-radius: 12px;
    margin-top: 6px;
}

.list-item{
    min-height: 6vh;
    line-height: 6vh;
    font-family: 'Handlee', cursive;
    color: #512DA8;
    border-bottom: 1px solid #EEE;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 8% 82% 10%;
}


@media only screen and (max-width: 1000px) {
  .container{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 15% 70% 15%;
    }

    .notepad{
    background: #FFF;
    padding: 1em;
    display: grid;
    grid-template-rows: 93% 7%;
    grid-template-columns: 100%;
    height: 100%;
    padding-bottom: 0;
    }

    .control-form{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

}